name: CI

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
  tests:
    name: Option A - API Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: option-a-api-load/package-lock.json

      - name: Install dependencies
        working-directory: option-a-api-load
        run: npm ci

      - name: Run tests
        working-directory: option-a-api-load
        run: npm test
